
      aside {
        width: 200px;
        margin: 0;
        margin-left: 30px
      }


      main {
        flex: 1;
        padding : 20px;
        margin-left: 30px;
        margin-top : -25px
      }
      body{
        display: flex;
        margin: 0
      }
      header{
        display:flex;
        align-items:center;
        justify-content: space-between
      }

